/* Make something awesome! */

/* -- color scheme 
@brand-primary:           #DA2E75

@gray-darker:             lighten(@gray-base, 13.5%)  // #222222
@gray-dark:               lighten(@gray-base, 20%)    // #333333
@gray:                    lighten(@gray-base, 33.5%)  // #555555
@gray-light:              lighten(@gray-base, 46.7%)  // #777777
@gray-lighter:            lighten(@gray-base, 93.5%)  // #eeeeee
// f9f9f9
*/


/* ------------------------------------- 
    GLOBAL 
------------------------------------- */
* { 
  margin: 0;
  padding: 0;
}
* { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

body {
  -webkit-font-smoothing: antialiased; 
  -webkit-text-size-adjust: none; 
  width: 100%!important; 
  height: 100%;
}

table { border-collapse: collapse; border: 0; border-spacing: 0; }
td { padding: 0; }

/* ------------------------------------- 
    ELEMENTS 
------------------------------------- */
a { color: #DA2E75; }

img { display:inline-block; width:100%; max-width:100%; }

hr { margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid #eee; box-sizing: content-box; height: 0; }

.white-space {
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap;  /* HP Printers */
}

a.btn {
  font-size: 14px;
  color: white;
  font-weight: bold;
  background-color: #DA2E75;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1em;
}
a.btn-block { padding: 10px 0px; width:100%; }
/*a.btn-lg { width: 100%; max-width: 300px; }*/


.media {}
.media-object { width:20%; vertical-align: top; padding-right:10px; }

/* ------------------------------------- 
    HEADER 
------------------------------------- */
img.brand { width: 150px; }


/* ------------------------------------- 
    TYPOGRAPHY 
------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: font-family:Helvetica Neue,Helvetica,sans-serif;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 15px;
  color: #333333;
  font-weight: bold;
}

h1 { font-weight: bold; font-size: 25px;}
h2 { font-weight: bold; font-size: 22px;}
h3 { font-weight: bold; font-size: 20px;}
h4 { font-weight: bold; font-size: 18px;}
h5 { font-weight: bold; font-size: 14px;}
h6 { font-weight: bold; font-size: 12px; text-transform: uppercase; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-weight: normal; font-size: 80%; color: #777777; line-height: 0; text-transform: none; }

p, ul { 
  margin-bottom: 10px; 
  font-weight: normal; 
  font-size: 14px;
  line-height: 1.6;
  color: #333333;
}
p.lead { font-size: 17px; }
p.last { margin-bottom: 0px; }

ul li {
  margin-left:5px;
  list-style-position: inside;
}


/* ------------------------------------- 
    FOOTER 
------------------------------------- */
p.footer { font-size:12px; line-height:150%; color:#777777; text-align:justify; }
p.footer a { color: #777777;  }


/* ------------------------------------- 
    CONTENT 
------------------------------------- */
.main { 
  background-color:#ffffff; background:#ffffff; width:100% !important; padding:0; white-space: normal; word-wrap: break-word;
}
.container {
  display: block!important;
  max-width: 500px!important;
  margin: 0 auto!important; /* makes it centered */
  clear: both!important;
}
.content {
  padding: 15px;
  max-width: 500px;
  margin: 0 auto;
  display: block;
  border-collapse:collapse;
}