---

<p class="footer">
  &copy; {_app_name}, IIT Bombay, India, MH 400076.
  <br>
  {_app_name} respects your privacy. Read our online <a target="_blank" href="{_app_base_url}/about/privacy" target="_blank">Privacy statement</a>.
  <br>
  <br>
  This message was sent to {_to_email}. You can <a href="{_unsubscribe_link}" target="_blank">unsubscribe</a> from these emails. You can also change your preferences by visiting your Email Options in your {_app_name} account at <a href="{_app_base_url}/settings/notifications" target="_blank">settings/notifications</a>.
</p>